.main-page {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
}
.main-page div {
  margin-top: 10%;
}
.main-page img {
  width: 400px;
  border-radius: 50%;
}
.about-me {
  text-align: center;
  margin: 5%;
}
.about-me div {
  margin-top: 20px;
  text-align: left;
}
h2 {
  text-align: center;
}
.hobbies {
  display: flex;
  justify-content: space-evenly;
}

.hobbies-card {
  margin-bottom: 2%;
  width: 300px;
}
.skills {
  width: 50%;
  margin: 5% auto;
}
.container-education {
  display: flex;
  justify-content: space-evenly;
  margin: 8% auto;
}
.container-education h2 {
  margin-bottom: 24px;
}
.education li {
  font-size: 20px;
}
.work li {
  font-size: 20px;
}
